@import url("https://fonts.gstatic.com" );
@import url("./storage/Platypi-Italic-VariableFont_wght.ttf");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gstatic', cursive;
}
html{
    text-align: center;
    background: #000000;
    min-height: 100vh;
}
.logo{
    position: absolute;
    
   
    top: 35vh;
    left: 25vw;
    width: 50vi;
    align-items: center;
}

@keyframes m {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}
 .nombre{
    position: absolute;
    font-size: 100px;
    text-align: center;
    font-weight: 600;
    color: floralwhite;
    left: 33%;
    top: 30%;

 }
 
@-webkit-keyframes nombre {
    0% {
      background-position: -100%;
    }
    100% {
      background-position: 100%;
      opacity: 1;
    }
  }
  
  @keyframes nombre {
    0% {
      background-position: -100%;
    }
    100% {
      background-position: 100%;
    }
  }
 
   .container{
    animation: m 5s;
    opacity: 0;
   }
   .media{
    position: absolute;
    top: 0.5vi;
    left: 18vi;
    width: 5vw;
}
.bienvenido{
    position: absolute;
    text-align: center;
    font-size: 1.5vi;
    top: 5vi;
    left: 11.5vi;
    font-family: 'Myriad pro, regular';
}

.panel{
    position: absolute;
    background-color: transparent;
    width: 42vi;
    height: 31vi;
    top: 25vh;
    left: 29vw;
    border-radius: 3vi;
    animation: blanco 2s forwards;
    animation-delay: 4s;
    animation-name: panel;
    opacity: 0;
    border: 1vh solid #43d7c8;
    
}
@keyframes panel {
  0% {
    background-position: -100%;
    opacity: 0;
  }
  100% {
    background-position: 100%;
    opacity: 1;
  }
}
.bienvenido{
    position: absolute;
    text-align: center;
    font-size:3vi;
    top: 2.5vi;
    left: 11.5vi;
    font-family: 'Platypi-Italic-VariableFont_wght';
    color: white;
    font-weight: 20vi;

}
.ingresa{
  position: absolute;
  text-align: center;
  font-size: 2vi;
  top: 13vi;
  left: 2vi;
  font-family: 'Myriad pro, regular';
  color: #6D6D6D;

}
.usuario{
  position: absolute;
  top: 13vi;
  left: 6.5vi;
  font-family: 'Myriad pro, regular';
  font-size: 5%;
  color: #34324a;
}
#usuario2{
  position: absolute;
  border-color: #be69f4;
  width: 38vi;
  height: 7vi;
  top: 17vi;
  left: 2vi;
  border-radius: 20vi;
  text-align: center;
  font-size: 5vi;
}
.siguiente{
  position: absolute;
  top: 25vi;
  left: 18vi;
  width: 6vi;
  height: 2vi;
  border: 5px solid #be69f4;
  font-size: 1vi;
}