@font-face {
    font-family: 'titulo';
    src: url(../storage/font/Starjout.ttf);
}

@font-face {
    font-family: 'th2';
    src: url(../storage/font/Starjedi.ttf);
}

body{
    background-image: url(../dia8/storage/f9860166b55e5a539f9e0cd8074563e7.jpg);
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
   
    
}

.titulo{
    font-family: 'titulo';
    font-size: 150px;
    margin-top: 5vi;
    color: rgb(131, 41, 126);
}

.tabla{
    border: 1px solid red;
    
}
th{
    font-family: 'th2';
    font-size: 20px;
}

.border-gradient {
        border: 10px solid;
        border-image-slice: 1;
        border-width: 5px;
        border-radius: 3px
        
}
.border-gradient-green {
        border-image-source: linear-gradient(to left, #750202, #59fff1);
}
.colorear1 {
    box-shadow: -1px -1px 6px 0 rgb(26, 25, 9);
}
.colorear2 {
    box-shadow: 2px 2px 8px 0 rgb(64, 64, 65);
}
.btn-dark{
    background-color: #f5600a;
    border-color: #f5600a;
    
}